<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acamia do Zackinho</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'usuarios/style.css' %}">
</head>
<body>
    <main>
        <h1>Seja Bem-vindo à Academia </h1>
        <p>Minha Primeira Página renderizada com template em Django!</p>
        <ul>
            {% for aluno in alunos %}
                <li><b>{{ aluno.nome }} | {{ aluno.idade }} anos | {{ aluno.curso }}</b></li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>