{% extends 'usuarios/base.html' %}

{% block title%}Cadastro de Instrutores{% endblock %}

{% block content %}

<h2 class="text-center mb-5 fw-bold">CADASTRO DE INSTRUTORES</h2>

<div class="card shadow p-4 mx-auto" style="max-width: 600px;">
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="nome" class="form-label fw-bold ">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" placeholder="Digite o nome do Instrutor">
        </div>

        <div class="mb-3">
            <label for="idade" class="form-label fw-bold ">Idade</label>
            <input type="number" name="idade" id="idade" class="form-control" placeholder="Digite a idade do Instrutor">
        </div>

        <div class="mb-3">
            <label for="cpf" class="form-label fw-bold ">CPF</label>
            <input type="text" name="cpf" id="cpf" class="form-control" placeholder="Digite o CPF do Instrutor">
        </div>

        <div class="mb-3">
            <label for="telefone" class="form-label fw-bold ">Telefone</label>
            <input type="text" name="telefone" id="telefone" class="form-control" placeholder="Digite o Telefone do Instrutor">
        </div>

        <div class="mb-3">
            <label for="codigo-ef" class="form-label fw-bold">Código EF</label>
            <input type="number" name="codigo_ef" id="codigo-ef" class="form-control" placeholder="Digite o Código EF do Instrutor">
        </div>

        <div class="mb-3">
            <label for="username" class="form-label fw-bold ">Usuário</label>
            <input type="text" name="username" placeholder="Nome de usuário" class="form-control">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label fw-bold ">Senha</label>
            <input type="password" name="password1" placeholder="Senha" class="form-control">
        </div>

        <div class="mb-3">
            <input type="password" name="password2" placeholder="Confirme a senha" class="form-control">
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a href="{% url 'listar_instrutores' %}" class="btn btn-secondary">Voltar</a>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>

</div>

{% endblock %}
